@page "/auth/donate"
@model Roblox.Website.Pages.Auth.Donate

@{
    Layout = "Shared/_Layout";
}

@section MetaTags {
    <title>Support Pekora - Donate</title>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <p class="fw-bold mt-4 mb-3 text-center">Crypto</p>
            <ul class="list-unstyled">
                <li class="mb-4">
                    <strong class="d-block text-start mb-1">Bitcoin (BTC):</strong>
                    <code class="d-block mx-auto text-break" style="max-width: 100%;">bc1qa9j2dtqa7ux3c9p5wl9g02rz6lkaj99qkznkm7</code>
                </li>
                <li class="mb-4">
                    <strong class="d-block text-start mb-1">Ethereum / USDT / USDC:</strong>
                    <code class="d-block mx-auto text-break" style="max-width: 100%;">0x9514c6Be4998eA634Ae1cf604d209522d2D23055</code>
                </li>
                <li class="mb-4">
                    <strong class="d-block text-start mb-1">Litecoin (LTC):</strong>
                    <code class="d-block mx-auto text-break" style="max-width: 100%;">LfUXnFN6goYUoWVtshxhvgCZBWJsH7dah9</code>
                </li>
                <li class="mb-4">
                    <strong class="d-block text-start mb-1">Solana (SOL):</strong>
                    <code class="d-block mx-auto text-break" style="max-width: 100%;">GKk25ECU5UEbV54VmXpKKeuWhwoiAZiT8jKCBqfggLum</code>
                </li>
                <li class="mb-4">
                    <strong class="d-block text-start mb-1">Monero (XMR):</strong>
                    <code class="d-block mx-auto text-break" style="max-width: 100%;">47cmgoRY3zDguToMZFRZfQdgJ6hPWSsaz1VUp1Jr1cLhFGZatLhyDTCWqXunnYNCazNz4zvzsNXP6KHCHnhZSitJ73WzxpP</code>
                </li>
            </ul>

            <p class="fw-bold mt-5 mb-3 text-center">Other</p>
            <ul class="list-unstyled">
                <li class="mb-4">
                    <strong class="d-block text-start mb-1">PayPal:</strong>
                    <a href="https://ko-fi.com/gatoasti?g=0" target="_blank" class="d-block mx-auto text-break" style="max-width: 100%;">https://ko-fi.com/gatoasti?g=0</a>
                </li>
                <li class="mb-4">
                    <strong class="d-block text-start mb-1">Cash App:</strong>
                    <code class="d-block mx-auto text-break" style="max-width: 100%;">$boxed404</code>
                </li>
            </ul>

            <p class="mt-5">
                <strong>Where your donations go:</strong><br />
                At the end of the month, we will show how every dollar donated goes back into Pekora with invoice proof. 
                All donated money does not go to us and we make <span class="text-decoration-underline">zero profit</span> from Pekora.
            </p>
        </div>
    </div>
</div>
